/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 5px 10px;
}

.header {
  height: 50px;
  background-color: #ff9a4b;
}

.contents {
  width: 960px;
  margin: 50px auto;
  position: relative;
  display: flex; /*Flexboxの利用*/
}

.contents-item {
  width: 300px;
  margin-right: 30px;
  background-color: #eee;
}

.contents-item:nth-child(3) {
  margin-right: 0px;
}

.image1 {
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png);
}

.image3 {
  background-image: url(img/flow03.png);
}

.image1,.image2,.image3 {
  height: 150px;
  width: 280px;
  margin: 10px;
  background-size: cover;
  background-position: bottom;
}

.step {
  position: absolute;
  background-color: #ff9a4b;
  color: #fff;
}

.sentence {
  margin: 0 10px 10px 10px;
}

.footer {
  height: 50px;
  background-color: #aaa;
}